:root {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
}

.container {
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap:wrap;
    width: 600px;
    height: 600px;
}

.inner-box {
    width: 33%;
    height: 33%;
    border-width: 1px;
    border-style: solid;
    
}