.container {
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width:1000px;
    height: 1000px;
}

.inner-box {
    width: 32%;
    height: 33%;
    border-width: 5px;
    border-style: solid;
    
}